# ignore emacs backups
*~
*.bak
*._*

# ignore c build
*.o
*.a
*.so
*.dylib
*.dll
*.lib

# ignore build dirs
obj/*
bin/*
dist/*

# ignore libFAUDES config
include/*
doc/*
Makefile.configuration
Makefile.depend

# ignore test cases
tmp_*
!**/faudes_images/tmo_*

# osx irritations
**/.DS_Store
**/pd_Logfile.txt

# local archive
local