# ignore emacs backups
*~
*.bak
*._*

# ignore c build
*.o
*.a
*.so
*.dylib
*.dll
*.lib

# ignore build dirs
obj/*
bin/*
dist/*

# ignore libFAUDES config
include/*
doc/*
Makefile.configuration
Makefile.depend
Makefile.user
tools/msvc/VERSION.bat

# ignore distribution
dist/*

# Ignore test cases
**/tmp_*.gen

# ignore my private stuff
plugins/iodevice/libwpc/bin/*

# osx irritations
**/.DS_Store
**/pd_Logfile.txt

# ignore dist packages
libfaudes-2*

# local archive
local